body {
    display: flex;
    flex-wrap: wrap;
    font-family: sans;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    flex-basis: 100%;
    flex-shrink: 0;
}
table { 
border: 1px solid rgba(128,128,128,0.5); 
padding: 0; 
}
th { 
color: white; 
background-color: 
rgb(100,135,220); 
}
tr:nth-child(odd) { 
background-color: rgba(128,128,128,0.1)  
}

#pArticle {
    font-size: 20px;
}

article {
    flex-basis: 60%;
    padding-left: 1em;
}

header nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(100,135,220);
    color: white;
    padding: 0.3em; 
    border-bottom: 2px solid black;
}

#nav-noticias {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0.3em; 
    border-bottom: 2px solid black;
}

a { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: underline; 
}

nav a, header a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    margin-left: 1em;
    font-size: 50%;
    font-style: italic;
    color: black;
}


body > nav {
    flex-basis: content;
    padding-right: 1vw;
    min-width: 16em;
    border-right: 1px solid #ddd;
    padding: 0;
}

body > nav > div a {
    color: black;
    display: block;
    text-transform: capitalize;
    font-weight: bold;
    padding: 0.25em 1ex 0.25em 2mm;
}

body > nav > div a:hover { 
    color: black!important; 
    background-color: #fffff0; 
    border-left: #ba9836 solid 0.2em; 
    text-decoration: none; 
}

body > nav > div a:hover { 
    color: black!important; 
    background-color: #fffff0; 
    border-left: #ba9836 solid 0.2em; 
    text-decoration: none; 
}

body > nav > div p { 
    font-weight: bold; 
    margin: 0 0 0.5em 2mm; 
    padding: 1em 0 0 0; 
}


nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0;
}

nav li ul {
    padding-left: 0.6em;
}

article { 
    padding-left: 40px;  
}

article h1, article h2 { 
    color: rgb(0,102,204); 
    font-weight: bold; 
    border-bottom: 2px solid rgb(0,102,204); 
}

article h3, article h4, article h5 {
    color: rgb(0,102,204); 
    font-weight: bold; margin: 2em 0 0 0; 
}

article h6, article h7, article h8 { 
    color: rgb(0,102,204); 
    font-weight: bold; 
    margin: 2em 0 0 0; 
}

article a { 
    color: rgb(0,102,204); 
}

article a:hover { 
    color:  rgb(100,135,220); 
}

article img {
	border:	0.4em solid black;
	background-color: white!important;
    padding: 0.2em;
}

#logo-section {
    font-size: 40px;
    background-color: rgba(153, 205, 50, 0.527);
    border-bottom: 3px solid yellowgreen;
}

#logo-section-noticias {
    font-size: 40px;
    background-color: #202225;
    border-bottom: 3px solid rgb(34, 36, 31);
    color: white;
}

#subtitle {
    font-size: 25px;
}

#pindoramaTK {
    padding-right: 15px;
}

#ArticleTitle {
    font-size: 40px;
}

#responsiveNavLateral {
    font-size: 0px;
}

.negrito {
    font-weight: bold;
}

.sublinhado {
    text-decoration: underline;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    #logo-pindorama {
        width: 0px;
    }

    #responsiveLinks {
        width: 0px;
        font-size: 0px;
    }

    #responsiveNavLateral {
        font-size: 1em;
    }

    #ArticleTitle {
        text-align: center;
        padding: 0px !important;
    }

    #pArticle {
        text-align: center;
    }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    #logo-pindorama {
        width: 0px;
    }

    #responsiveLinks {
        width: 0px;
        font-size: 0px;
    }

    #responsiveNavLateral {
        font-size: 1em;
    }

    #ArticleTitle {
        text-align: center;
        padding: 0px !important;
    }

    #pArticle {
        text-align: center;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }
